<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      MY SMS APPLICATION
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoggedIn; else loginTemplate">
    <h1>Welcome, {{displayName}}!</h1>
    <p>Email: {{email}}<br>
      Family Name: {{familyName}}<br>
      Given Name: {{givenName}}<br>
      User ID: {{userId}}</p>
    <p><ion-avatar item-left>
      <img src="{{imageUrl}}">
    </ion-avatar></p>
    <p><button ion-button (click)="logout()">Logout From Google</button></p>
  </div>
<ion-card>
  <form [formGroup]="todo" (ngSubmit)="sendTextMessage()">
	<ion-item>
		<ion-label stacked>Phone Number</ion-label>
		<ion-input [(ngModel)]="product.number" formControlName="phonenum"  placeholder="Enter Phone Number" type="number" pattern="[0-9]*"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label stacked>Message</ion-label>
		<ion-input [(ngModel)]="product.message" formControlName="textmsg" placeholder="Enter Message" type="text" required></ion-input>
	</ion-item>
  <ion-item>
		<button ion-button icon-left clear item-right (click)="sendTextMessage1()"  [disabled]="!todo.valid" *ngIf ="this.product.number && this.product.message">
			<!--this.products.length>100 &&-->
      <ion-icon name="checkmark"></ion-icon>
			Send!
		</button>
    <button ion-button icon-left clear item-right type="submit"  [disabled]="!todo.valid" *ngIf ="this.product.number && this.product.message">
     <!--this.products.length>100 &&-->
      <ion-icon name="checkmark"></ion-icon>
      Sasdas
    </button>
  </ion-item>
  </form>
    <ion-item>
      <ng-template #loginTemplate>
        <h1>Please Login to see your Google Account Information</h1>
        <p><button ion-button (click)="login()">Login With Google</button></p>
      </ng-template>
    </ion-item>

  <ion-item>
    <div class='table-responsive'>
      <table class='table' *ngIf="products">
        <thead>
          <tr>
            <th>MESSAGE ID</th>
            <th>PHONE NUMBER</th>
            <th>TEXT MESSAGE</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor='let product of products'>
          <td>{{product.id}}</td>
          <td>{{product.payload}}</td>
          <td>{{product.number}}</td>
          <td>{{product.message}}</td>

        </tr>

        <div *ngIf="this.errorMessage" [ngClass] = "'error'"> {{this.errorMessage}}</div><br>
        <div *ngIf="this.phonenum" >{{this.phonenum}}</div>
        </tbody>
      </table>
    </div>
  </ion-item>
</ion-card>
</ion-content>
